{% extends "base.njk" %}
{% block titulo %}Habitaciones | Nueva{% endblock %}
{% block contenido %}
    <h1>Nueva Habitación</h1>
    <form action="/habitaciones" method="post" enctype="multipart/form-data" >
        <div class="form-group" >
            <label for="numero">Número de habitación:</label>
            <input class="form-control" type="number" name="numero" id="numero" min="1" max="100"></div>
            {% if errores.numero %}
                <p class="text-danger">{{ errores.numero }}</p>
            {% endif %}
            <br>
                <div class="form-group">
                    <label for="tipo">Tipo de habitación:</label>
                    <select class="form-control" name="tipo" id="tipo" >
                        <option value="individual">Individual</option>
                        <option value="doble">Doble</option>
                        <option value="familiar">Familiar</option>
                        <option value="suite">Suite</option>
                    </select>
                </div>
                <br>
                    <div class="form-group">
                        <label for="descripcion">Descripción de la habitación:</label>
                        <textarea class="form-control" name="descripcion" id="descripcion" ></textarea>
                    </div>
                    {% if errores.descripcion %}
                        <p class="text-danger">{{ errores.descripcion }}</p>
                    {% endif %}
                    <br>
                        <div class="form-group">
                            <label for="precio">Precio por noche:</label>
                            <input class="form-control" type="number" name="precio" id="precio" required min="0" max="250" step="0.01"></div>
                            {% if errores.precio %}
                                <p class="text-danger">{{ errores.precio }}</p>
                            {% endif %}
                            <br>
                                <div class="form-group">
                                    <label for="imagen">Imagen de la habitación:</label>
                                    <input class="form-control" type="file" name="imagen" id="imagen"></div>
                                    <br>
                                        <button type="submit" class="btn btn-primary">Guardar Habitación</button>
                                    </form>
                                    <br>
                                {% endblock %}